/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@font-face {
    font-family: 'CantarellRegular';
    src: url('./fonts/cantarell-regular-webfont.eot');
    src: url('./fonts/cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/cantarell-regular-webfont.woff') format('woff'),
         url('./fonts/cantarell-regular-webfont.ttf') format('truetype'),
         url('./fonts/cantarell-regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
	background-image: url('../images/bg.png');
	z-index: -99;
	color : #444;
	font-family: 'CantarellRegular', 'Helvetica', 'Arial', 'sans-serif'
}

h1,h2,h3,h4,h5,h6{
	color : #444;
	position: relative;
	top: 0px;
	font-family: 'CantarellRegular', 'Helvetica', 'Arial', 'sans-serif'
	}

.media {
	height: 400px;
	width : 510px;
	opacity: 1;
}

.selected {
	border: solid #444444 1px;
}


.desktop {
	min-height: 600px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.video {
	position: absolute;
	top : 0px;
	height : 100%;
	width : 100%;
	z-index : -5;
}
.pic {
	position: absolute;
	top : 0px;
	height : 100%;
	width : 100%;
	z-index : -5;
}



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


